# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# VS Code settings
.vscode/

# Mac system files
.DS_Store

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# Generated endpoint modules
endpoints/

# Ignore test output
htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover

# Ignore pip wheel files
*.whl

# Ignore temporary files
*.tmp
*.bak
*.swp